{% extends 'base.html' %}

{% block content %}

    <div class="container">
            <div class="row" >
                <div class="col-xs-12">Entered Number: <pre>{{ fibonacci.index }}</pre> </div>
            </div>
</div>
<div class="container">
            <div class="row" >
                <div class="col-xs-12">Fibonacci Sequence Number: <pre>{{ fibonacci.result }}</pre></div>
            </div>
</div>
<div class="container">
            <div class="row" >
                <div class="col-xs-6" >Elapsed Time: <pre>{{ fibonacci.elapsed }}</pre></div>
            </div>
</div>
{% endblock %}
